
.idea/.idea.Consoletest/.idea/indexLayout.xml
.idea/.idea.Consoletest/.idea/riderModule.iml
.idea/.idea.Consoletest/.idea/vcs.xml
Consoletest.sln
Consoletest/bin/Debug/net5.0/Consoletest.deps.json
Consoletest/bin/Debug/net5.0/Consoletest.dll
Consoletest/bin/Debug/net5.0/Consoletest.pdb
Consoletest/bin/Debug/net5.0/Consoletest.runtimeconfig.dev.json
Consoletest/bin/Debug/net5.0/Consoletest.runtimeconfig.json
Consoletest/bin/Debug/net5.0/ref/Consoletest.dll
Consoletest/obj/Consoletest.csproj.nuget.dgspec.json
Consoletest/obj/Consoletest.csproj.nuget.g.props
Consoletest/obj/Consoletest.csproj.nuget.g.targets
Consoletest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Consoletest/obj/Debug/net5.0/Consoletest.AssemblyInfo.cs
Consoletest/obj/Debug/net5.0/Consoletest.AssemblyInfoInputs.cache
Consoletest/obj/Debug/net5.0/Consoletest.assets.cache
Consoletest/obj/Debug/net5.0/Consoletest.csproj.CoreCompileInputs.cache
Consoletest/obj/Debug/net5.0/Consoletest.csproj.FileListAbsolute.txt
Consoletest/obj/Debug/net5.0/Consoletest.csprojAssemblyReference.cache
Consoletest/obj/Debug/net5.0/Consoletest.dll
Consoletest/obj/Debug/net5.0/Consoletest.GeneratedMSBuildEditorConfig.editorconfig
Consoletest/obj/Debug/net5.0/Consoletest.genruntimeconfig.cache
Consoletest/obj/Debug/net5.0/Consoletest.pdb
Consoletest/obj/Debug/net5.0/ref/Consoletest.dll
Consoletest/obj/project.assets.json
Consoletest/obj/project.nuget.cache
Consoletest/obj/project.packagespec.json
Consoletest/obj/rider.project.restore.info
